*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
 body{
    background-color: white;
 }
 a{
    color: #000;
    text-decoration: none;
 }
 .hope{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: whitesmoke;
 }
.hope .logo{
    font-size: 40px;
    font-weight: 700;
}
.hope ul{
    display: flex;

}
.hope ul li{
    list-style: none;
    margin-left: 35px;
}
.hope ul li a{
    font-size: 20px;
    font-weight: 500;
    transition: .5s;
}
.hope ul li:hover{
    color: rgb(235, 20, 124);
}
.now{
    display: flex;
    justify-content: center;
    margin-top: 160px;
    gap: 230px;
}
/* span */

.but h2 span {
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .7px rgb(105, 203, 105);
    animation: display-text 16s linear infinite;
    animation-delay: calc(-4s * var(--1));
}
@keyframes display-text {
    25%,100%{
        display: none;
    }
}
.but h2 span::before {
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: 2px solid rgb(20, 214, 20);
    color: rgb(20, 214, 20);
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 4s linear infinite;
}
@keyframes fill-text{
    10%,
    100% {
        width: 0;
    }

    70%,
    90%{
        width: 100%;
    }
}
.now .but h1{
    font-size: 55px;
}
.now .but h2{
    display: inline-block;
    font-size: 32px;
}
.now .but p{
    font-size: 16px;
    margin: 10px 0 25px;
}
/* button */
.now .but .btn .don{
    display: flex;
    align-items: center;
}
.btn{
    display: inline-block;
    padding: 10px 30px;
    background: rgb(20, 214, 20);
    border: 2px solid rgb(20, 214, 20);
    box-shadow: 0 0 10px rgb(20, 214, 20);
    font-size: 16px;
    color: white;
    font-weight: 600;
}
.btn:hover{
    background-color: transparent;
    color: rgb(20, 214, 20);
    box-shadow: none;
}





.now .but .par .don{
    display: inline-flex;
    padding: 8px;
    font-size: 20px;
    color: greenyellow;
}
.now .but .par .don a:hover{
    background: rgb(20, 214, 20);
    color: rgb(28, 21, 21);
    box-shadow: 0 0 10px rgb(20, 214, 20);
}

.par{
    display: flex;
}

.home.img .img.box{
    width: 32vw;
    height: 32vw;
    background: red;
    border-radius: 50%;
}


.home.img .img.box .img.item {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgb(13, 107, 222);
    border-radius: 50%;
}
.home.img .img.box .img.item img {
    position: absolute;
    display: block;
    width: 85%;
    object-fit: cover;
}


/* about */
.abo{
    margin-left: 42%;
}
.top{
   color: black; 
}
.bbb h1{
    margin-left: 40%;
    color: black;
    
}
p{
    color: black;
    margin-left: 18%;
}
 .bob a{
    margin-left: 80%;
    display: inline-block;
    padding: 10px 30px;
    background: rgb(79, 79, 5);
    border: 2px solid rgb(79, 79, 5);
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(79, 79, 5);
    font-size: 16px;
    color: black;
    font-weight: 600;
    text-decoration: none;
 }
 .bob a:hover{
    background-color: transparent;
    color: rgb(79, 79, 5);
    box-shadow: none;
 }
 .top a{
    font-size: 40px;
    font-weight: 700;
 }
 /* hr */
 hr{
    width: 70%;
    margin-left: 18%;
 }


/* work logos */

.head{
    font-size: 30px;
    text-align: center;
    font-weight: 20%;
}
/* wrk */

.card-container{
    display: inline-block;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-left: 3%;
}
.card{
    width: 325px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgb(0,0,0,0,2);
    margin: 20px;
}
.card img{
    width: 100%;
    height: auto;

}
.card-content{
    padding: 16px;
}
.card-content h3{
    font-size: 28px;
    margin-bottom: 8px;
}
.card-content p{
    color: #666;
    font-size: 15px;
    line-height: 1.3;
}
.card-content .bot{
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 15px;
    color: #fff;
}

.box{
    background-color: wheat;
    font-size: 19px;
    padding: 30px 10%;
    text-align: center;
}
.box a{
    font-size: 18px;
}
.box p{
    text-align: center;
    margin-right: 20%;
}

.map{
    text-align: center;
    padding: 25px 9%;
}
iframe{
    background-color: wheat;
}

.form{
    padding: 25px 9%;
    width: 100%;
}
form p{
    margin-left: 0;
    margin-bottom: 10px;
    font-size: 15px;
}

input{
    width: 100%;
    border: 1px solid rgb(20, 214, 20);
    padding: 15px;
    font-size: 15px;

}
input[type=submit]{
    background-color:  rgb(20, 214, 20);
    font-size: 25px;
    color: white;
}
textarea{
    width: 100%;
    height: 50vh;
    border: 1px solid rgb(20, 214, 20);
}

.btn-primary{
    background-color: blue;
    color: white;
    padding: 10px;
    margin-left: 17%;
    border-radius: 5%;
}

.badge-light{
    background-color: white;
    color: #000;
    padding: 2px;
    border-radius: 5%;
}