*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
 body{
    background-color: white;
 }
 a{
    color: black;
    text-decoration: none;
 }
 .hope{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
 }
.hope .logo{
    font-size: 40px;
    font-weight: 700;
}
.hope ul{
    display: flex;

}
.hope ul li{
    list-style: none;
    margin-left: 35px;
}
.hope ul li a{
    font-size: 20px;
    font-weight: 500;
    transition: .5s;
}
.hope ul li:hover{
    color: rgb(235, 20, 124);
}
.now{
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 50px 9% 0;
    color: black;
}
/* span */

.but h2 span {
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .7px rgb(105, 203, 105);
    animation: display-text 16s linear infinite;
    animation-delay: calc(-4s * var(--1));
}
@keyframes display-text {
    25%,100%{
        display: none;
    }
}
.but h2 span::before {
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: 2px solid rgb(20, 214, 20);
    color: rgb(20, 214, 20);
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 4s linear infinite;
}
@keyframes fill-text{
    10%,
    100% {
        width: 0;
    }

    70%,
    90%{
        width: 100%;
    }
}
.now .but h1{
    font-size: 55px;
}
.now .but h2{
    display: inline-block;
    font-size: 32px;
    margin-top: -10px;
}
.now .but p{
    font-size: 16px;
    margin: 10px 0 25px;
}
/* button */
.now .but .btn .don{
    display: flex;
    align-items: center;
}
.btn{
    display: inline-block;
    padding: 10px 30px;
    background: rgb(20, 214, 20);
    border: 2px solid rgb(20, 214, 20);
    box-shadow: 0 0 10px rgb(20, 214, 20);
    font-size: 16px;
    color: white;
    font-weight: 600;
}
.btn:hover{
    background-color: transparent;
    color: rgb(20, 214, 20);
    box-shadow: none;
}





.now .but .par .don{
    display: inline-flex;
    padding: 8px;
    font-size: 20px;
    color: greenyellow;
}
.now .but .par .don a:hover{
    background: rgb(20, 214, 20);
    color: rgb(28, 21, 21);
    box-shadow: 0 0 10px rgb(20, 214, 20);
}

.par{
    display: flex;
}

.home.img .img.box{
    width: 32vw;
    height: 32vw;
    background: red;
    border-radius: 50%;
}

img{
    margin-left: 125%;
}
.home.img .img.box .img.item {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgb(13, 107, 222);
    border-radius: 50%;
}
.home.img .img.box .img.item img {
    position: absolute;
    display: block;
    width: 85%;
    object-fit: cover;
}


/* about */
.abo{
    margin-left: 42%;
}
.top{
   color: black; 
}
.bbb h1{
    margin-left: 40%;
    color: black;
    
}
p{
    color: black;
    margin-left: 18%;
}
 .bob a{
    margin-left: 80%;
    display: inline-block;
    padding: 10px 30px;
    background: rgb(79, 79, 5);
    border: 2px solid rgb(79, 79, 5);
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(79, 79, 5);
    font-size: 16px;
    color: black;
    font-weight: 600;
    text-decoration: none;
 }
 .bob a:hover{
    background-color: transparent;
    color: rgb(79, 79, 5);
    box-shadow: none;
 }
 .top a{
    font-size: 40px;
    font-weight: 700;
 }
 /* hr */
 hr{
    width: 70%;
 }


/* work */
.wor{
    margin-left: 45%;
}
.new a{
    font-size: 40px;
    font-weight: 700;
}


/* icon */
.cov{
    margin-left: 42%;
}
.cov a{
    font-size: 40px;
    font-weight: 700;
}
.box{
    background-color: wheat;
    font-size: 19px;
    padding: 30px 10%;
    text-align: center;
}
.box a{
    font-size: 15px;
}
.box p{
    text-align: center;
}

.map{
    text-align: center;
    background-color: wheat;
}
